<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='app.css' />
  </head>
  <body>
    {{{body}}}
	<div id="root"></div>
	<script src="app.js" charset="utf-8"></script>
  </body>
</html>
